/* font-family: 'Montserrat', sans-serif; */
body {
    height: 3000px;
}

/* #region Componentes Generales */

.button {
    display: inline-block;
    text-align: center;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.button.white {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
.button.black {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
@media only screen
and (min-width: 768px) {
    .button {
        font-size: 20px;
        line-height: normal;
        padding: 15px 55px 15px 55px;
    }
}
@media only screen
and (max-width: 767px) {
    .button {
        font-size: 14px;
        line-height: normal;
        padding: 10px 30px 10px 30px;
    }
}
/* #endregion */


/* #region Main Nav */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 99999999999;
}
.main-nav__sticky {
    height: 96px;
}
.main-nav .content {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo-container span {
    display: inline-block;
    color: #fff;
    font-weight: 900;
    font-style: normal;
}
.menu-list {
    position: relative;
}
.menu-list::after {
    content: '';
    width: 2px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.menu-list li a {
    color: #fff;
    font-weight: 600;
}
.login-container a {
    display: inline-block;
    color: #FFD11C;
    font-weight: 600;
}
@media only screen
and (min-width: 768px) {

    .logo-imagen {
        margin-right: 20px;
    }
    .logo-imagen img {
        width: 69px;
        height: auto;
    }
    .logo-container {
        flex-basis: 353px;
        display: flex;
        align-items: center;
    }
    .logo-container span {
        max-width: 180px;
        font-size: 15px;
        line-height: 20px;
    }
    .menu-list {
        flex-grow: 1;
        display: flex;
        padding-left: 38px;
    }
    .menu-list li:not(:last-child) {
        margin-right: 29px;
    }
    .menu-list li a {
        font-size: 15px;
        line-height: 17px;
    }
    .login-container {
        flex-basis: 220px;
        text-align: right;
    }
    .login-container a {
        font-size: 15px;
        line-height: 22px;
    }
}

@media only screen
and (max-width: 1200px) {
    .main-nav .content {
        padding: 0 15px;
    }
    .logo-imagen {
        margin-right: 10px;
    }
    .logo-imagen img {
        width: 49px;
        height: auto;
    }
    .logo-container {
        display: flex;
        align-items: center;
    }
    .logo-container span {
        max-width: 140px;
        font-size: 12px;
        line-height: 18px;
    }

     .main-nav .content {
        justify-content: space-between;
    }
    .menu-list {
        display: none;
    }
    .logo-container span {
        font-size: 12px;
        line-height: 16px;
    }

    .login-container a {
        max-width: 90px;
        font-size: 12px;
        line-height: 18px;
    }
}
/* #endregion */

/* #region Main Header */
.main-header {
    position: relative;
}
.main-header h1{
    color: #000;
    font-weight: 700;
}
.main-header input {
    display: inline-block;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 50px;
    box-shadow: -1px 8px 66px -30px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 8px 66px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 66px -30px rgba(0,0,0,0.75);
    font-weight: 400;
}
@media only screen
and (min-width: 768px) {
    .main-header {
        background-image: url('../imgs/imagen-header.jpg');
        background-repeat: no-repeat;
        background-position: center center;
    }
    .main-header .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 376px;
        max-width: 520px;
    }
    .main-header h1{
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 28px;
    }
    .main-header input {
        height: 75px;
        font-size: 20px;
        padding-left: 30px;
    }
}
@media only screen
and (min-width: 768px) 
and (max-width: 1340px) {
    .main-header {
        background-position-x: -50px;
    }
}
@media only screen
and (max-width: 767px) {
    .main-header .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 296px;
        max-width: 340px;
    }
    .main-header h1{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .main-header input {
        height: 45px;
        font-size: 15px;
        padding-left: 20px;
    }
}


/* #endregion */

/* #region Nav celeste */
.nav-celeste {
    position: relative;
    background-color: #B7DBF7;
}
.nav-celeste a {
    color: #000;
    font-weight: 600;
}
@media only screen
and (min-width: 768px) {
    .nav-celeste a {
        font-size: 18px;
        line-height: 22px;
    }
    .nav-celeste  li {
        text-align: center;
        flex-basis: 162px;
    }
    .nav-celeste  li:not(:last-child) {
        border-right: 2px solid #4CA4EC;
    }
    .nav-celeste ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
}
@media only screen
and (max-width: 767px) {
    .nav-celeste a {
        font-size: 14px;
        line-height: 16px;
    }
    .nav-celeste ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100px;
    }    
    .nav-celeste  li {
        text-align: center;
        flex-basis: 33.333333333%;
    }

}
/* #endregion */

/* #region Banner */
.banner {
    position: relative;
    width: 100%;
}
.banner.banner-yellow {
    background-color: #ffd200;
}
.banner.banner-orange {
    background-color: #f93036;
}
.banner h2 {
    color: #000;
    font-weight: 700;
}
@media only screen
and (min-width: 768px) {
    .banner {
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner.banner-yellow {
        background-image: url('../imgs/banner-yellow.jpg');
    }
    .banner.banner-orange {
        background-image: url('../imgs/banner-orange.jpg');
    }
    .banner-taza .row {
        position: relative;
        top: 97px;
        z-index: 2;
        align-items: center;
    }
    .banner-taza .content {
        height: 177px;
        display: flex;
        justify-content: space-between;
    }
    .banner-taza h2::before {
        content: '';
        position: absolute;
        left: -290px;
        top: 35%;
        transform: translateY(-50%);
        display: inline-block;
        background-image: url('../imgs/taza.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 295px;
        height: 291px;
        z-index: 3;
    }
    .banner-taza::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        background-color: #F93036;
        width: 1920px;
        height: 177px;
        display: inline-block;
        z-index: 1;
    }
    .banner-taza {
        height: 291px;
    }
    .banner-taza h2 {
        color: #fff;
    }
    .banner .content {
        height: 156px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner h2 {
        font-size: 38px;
        line-height: 40px;
    }
}
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    .banner {
        background-image: none;
    }
    .banner h2 {
         font-size: 30px;
    }
}
@media only screen
and (max-width: 767px) {
    
    .banner .content {
        padding: 35px 15px;
    }
    .banner h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 15px;
        max-width: 180px;
    }
}
/* #endregion */

/* #region Banner */
.banner {

}
@media only screen
and (min-width: 768px) {

}
@media only screen
and (max-width: 767px) {


}
/* #endregion */

/* #region Banner */
.banner {
    
}
@media only screen
and (min-width: 768px) {

}
@media only screen
and (max-width: 767px) {


}
/* #endregion */

/* #region Banner */

@media only screen
and (min-width: 768px) {

}
@media only screen
and (max-width: 767px) {


}
/* #endregion */

/* #region Banner */

@media only screen
and (min-width: 768px) {

}
@media only screen
and (max-width: 767px) {


}
/* #endregion */



